<!DOCTYPE html>
<html>
<head>
    <title>📊Monthly Expense Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">

    <h1>📊Monthly Expense Report</h1>

    <div class="balance-card">

        <h3>Total Monthly Expenses</h3>

        <h2>₹{{ total }}</h2>

    </div>
    <a href="/transactions">
    View Transaction History
</a>
<br><br>


    <a href="/dashboard">
        ← Back to Dashboard
    </a>

</div>

</body>
</html>